.week {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  list-style: none;

  justify-content: space-between;
  align-items: flex-start;
}

.day {
  width: 160px;
  height: 500px;
  border: 1px solid black;

  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}