.day_todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 120px;
  height: 600px;

  border: 1px solid black;

  padding: 15px;
}

.done_todo {
  text-decoration: line-through;
}